@import 'var';

.blank10{
    clear: both;
    display: block;
    font-size: 0;
    height: 10px;
}
.breadNav {
    color: #000;
    Height: 22px;
    .breadNav span {
        margin: 0 8px;
    }
}
.blank0{
    display: block;
    width: 100%;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    overflow: hidden;
}
.danpinArea{
    height: auto;
    margin: 0px auto;
    zoom: 1;
    .danpinTitleTab {
        height: 45px;
        border-bottom: 1px solid #e5e6e6;
        min-width: 980px;
        .brandNumArea{
            display: none;
            span{
                float: right;
                width: 102px;
                background: none;
                padding: 0px;
                margin: 0px;
            }
        }
    }
}
.danpinTitleTab{
    h2{
        margin-left: 10px;
        float: left;
        margin-right: 10px;
        line-height: 45px;
        font-size: 18px;
        font-weight: bold;
        font-family: "Microsoft YaHei";
        color: #333333;
    }
    ul{
        height: 45px;
        li{
            float: left;
            color: #808080;
            height: 45px;
            margin: 0 10px 0 0;
            a{
                font-family: 微软雅黑;
                color: #000;
                font-weight: bold;
                font-size: 15px;
                display: inline-block;
                padding: 0px 15px 0px 0px;
                height: 45px;
                line-height: 45px;
            }
        }
    } 
} 
.blank30{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    overflow: hidden;
}

.danpin_colLef {
    height: auto;
    float: left;
    width: 634px;
    .danpinLeft {
        width: 72px;
        height: auto;
        float: left;
        margin-top: -23px;
        position: relative;
        display: inline;
        .smallImg {
            display: inline;
            float: left;
            width: 72px;
            .smallImgUp{
                @extend %cus;
                visibility: hidden;
                margin-top: 13px;
            }
            .upper {
                background-image: url(../img/sprite0725.png);
                background-position: -3270px 0;
            }
            .smallImgUp, .smallImgDown {
                height: 5px;
                width: 72px;
                overflow: hidden;
            }
            #imageMenu {
                height: 415px;
                overflow: hidden;
                #onlickImg {
                    border: 1px solid #a10000;
                }
                li {
                    margin-top: 11px;
                    border: 1px solid #B4B4B4;
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    span {
                        display: inline-block;
                        width: 68px;
                        height: 68px;
                        border: 1px solid #fff;
                        background-image: url(../img/joinimages.jpg);
                        background-position: 0px -0px;
                        &:hover{
                            display: inline-block;
                            width: 68px;
                            height: 68px;
                            border: 1px solid #a10000;
                        }
                    }
                }
            }
            .downer {
                background-image: url(../img/sprite0725.png);
                background-position: -1927px 0;
                visibility: hidden;
                @extend %cus;
                margin-top: 11px;
                height: 5px;
                width: 72px;
                overflow: hidden;
            }
            .smallImgDown{
                visibility: hidden;
            }
        }
    }
    .danpinColCenter {
        margin: 0 80px;
        width: 402px;
        float: right;
        display: inline;
        .bigImg {
            width: 400px;
            height: 400px;
            margin-top: 7px;
            overflow: hidden;
            border: 1px solid #e5e6e6;
            position: relative;
            float: right;
            display: inline;
             #midimg {
                width: 400px;
                height: 400px;
            }
            #winSelector {
                width: 220px;
                height: 200px;
                position: absolute;
                cursor: crosshair;
                opacity: 0.6;
                background-color: #e6eaf3;
                border: 1px solid White;
                display:none;
            }
        }
    }
}

.danpinRight {
    width: 566px;
    display: inline;
    float: right;
    overflow: hidden;
    .danpinfixedtitle {
        display: none;
    }
    .danpinFixedLeftContent {
        display: none;
        float: left;
    }
    .danpinFixedRightContent {
        float: left;
        margin-top: -6px;
        .blank10 {
            clear: both;
            display: block;
            font-size: 0;
            height: 10px;
        }
        .cuxiaoPrice {
            color: #A10000;
            span{
                line-height: 26px;
                height: 26px;
                display: inline-block;
                color: #A10000;
            }
            a{
                float: left;
                height: 26px;
                display: inline-block;
                margin-left: 20px;
                line-height: 26px;
                margin-top: 7px;
                color: #a10000;
            }
           
            .tehuiMoney {
                float: left;
            }
        }
        .blank10 {
            clear: both;
            display: block;
            font-size: 0;
            height: 10px;
            overflow: hidden;
        }

        // .selectArea{
        //      margin-top: -2px;
        // }
        .selectArea {
            margin-top: -2px;
        }
        .selColorArea {
            position: relative;
            zoom: 1;
        }
        .danpinColor_Select {
            overflow: hidden;
        }

        .danpinColorTitle {
            float: left;
            color: #666666;
            line-height: 22px;
            padding-bottom: 10px;
        }
        .selColor {
            width: 525px;
        }
        .selColor {
            float: left;
            width: 445px;
            padding: 0px;
            ul{
                li{
                    cursor: pointer;
                    border: 1px solid #B4B4B4;
                    display: inline;
                    float: left;
                    height: 40px;
                    margin: 0px 8px 8px 0px;
                    width: 95px;
                    position: relative;
                    &:hover{
                        border-color:$color1;
                    }
                    .colorBlock {
                        background: none repeat scroll 0 0 #FFFFFF;
                        height: 38px;
                        margin: 1px auto 0;
                        width: 93px;
                        span {
                            display: block;
                            float: left;
                            width: 36px;
                            height: 36px;
                            margin: 1px 0px 0px 1px;
                            overflow: hidden;
                            cursor: pointer;
                        }
                        .SpriteColors {
                            background: url(../img/oj2.jpg);
                            width: 36px;
                            height: 36px;
                            display: inline-block;
                            float: left;
                        }
                        p{
                            color: #666;
                            display: inline;
                            float: left;
                            line-height: 16px;
                            margin-left: 6px;
                            padding-top: 4px;
                            width: 46px;
                            overflow: hidden;
                            height: 34px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .selSizeArea {
            overflow: hidden;
            margin-bottom: 15px;
            margin-top: 12px;
            .danpinColorTitle {
                float: left;
                color: #666666;
                line-height: 22px;
                padding-bottom: 10px;
            }
            .selSize {
                width: 335px;
                float: left;
                 ul {
                    margin: 0px;
                    li{
                        background: #FFFFFF;
                        border: 1px solid #C8C8C8;
                        color: #333333;
                        cursor: pointer;
                        padding: 0px;
                        display: inline;
                        float: left;
                        height: 24px;
                        line-height: 22px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        text-align: center;
                        position: relative;
                        &:hover{
                            border-color:$color1;
                        }
                         span {
                            width: 14px;
                            height: 13px;
                            background: url(../img/sprite0725.png) no-repeat scroll;
                            background-position: -1151px 0;
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                        }
                        p {
                            display: block;
                            float: left;
                            height: 22px;
                            margin: 1px 1px 0px 1px;
                            background: #fff;
                            padding: 0 9px;
                            width: auto;
                        }
                    }
    
        .blank8ie {
            clear: both;
            display: block;
            font-size: 1px;
            overflow: hidden;
        }
                }
            }
        }
    }
}

.cuxiaoPrice, .cuxiaoPrice span {
    height: 26px;
}

.danpin_xuanzeGMcm {
    border: 1px solid #CC9998;
    width: 170px;
    height: 20px;
    margin-left: 36px;
    line-height: 19px;
    text-align: center;
    color: #999999;
    clear: both;
    margin-bottom: 5px;
    display:none;
    span{
        height: 16px;
        display: block;
        width: 16px;
        background-position: -1911px 0pt;
        margin: 2px;
        float: left;
    }
    .sprites {
        background-image: url(../img/sprite0725.png);
        background-color: transparent;
        background-repeat: no-repeat;
    }
    p{
        color: #a10000;
    }
}
.goodsNum {
    overflow: hidden;
    padding: 0px;
    .danpinColorTitle {
        float: left;
        color: #666666;
        line-height: 22px;
        padding-bottom: 10px;
    }
    .danpinnumSelect {
        float: left;
        overflow: hidden;
    }
}
.AreaItotal {
    padding-bottom: 15px;
    width: 400px;
}
.SelectGoods {
    height: 22px;
}
.SelectAreaItotal {
    width: 285px;
    float: left;
}

.goodsAddArea {
    position: relative;
    width: 400px;
    z-index: 0;
    background: none repeat scroll 0 0 transparent;
    border: 0px;
    padding: 0px;
}
.danpinColorTitle {
    float: left;
    color: #666666;
    line-height: 22px;
    padding-bottom: 10px;
}
.goodsAdd .SelectName, .goodsAdd .SelectSize {
    width: auto;
    max-width: 135px;
    overflow: hidden;
}
.goodsAdd .SelectName, .goodsAdd .SelectPoint, .goodsAdd .SelectSize, .goodsAdd .NowHasGoods {
    float: left;
    height: 22px;
    line-height: 22px;
    color: #666666;
    font-weight: bold;
}
.goodsAdd .NowHasGoods {
    color: #a10000;
    margin-left: 15px;
}
.goodsAdd span {
    display: inline;
    float: left;
    line-height: 20px;
}
.shoppingNews {
    float: left;
}
#nowbuy span {
    margin-left: 60px;
    margin-top: 9px;
    display: block;
    font-size: 14px;
    color: #A50309;
}
.btnnowbuy {
    background: #F7ABAF;
    width: 166px;
    height: 31px;
    display: block;
    float: left;
    margin-right: 13px;
    border: solid 1px rgb(183, 27, 33);
}
.btnaddtocart {
    background: url(../img/vanclsprite.png) no-repeat scroll -147px -285px;
    width: 168px;
    height: 33px;
    display: block;
    float: left;
}

#promotion {
    margin-top: 3px;
    .danpin_YhTsBox {
        width: 400px;
        height: auto;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #A20000;
        li{
            line-height: 24px;
            color: #666666;
        }
        h4 {
            height: 4px;
            line-height: 14px;
            margin-bottom: 6px;
            position: relative;
            width: 400px;
            color: #a20000;
            font-weight: bold;
            border-bottom: 1px solid #a20000;
        }
    }
}
.blank15 {
    display: block;
    width: 100%;
    height: 15px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    overflow: hidden;
}
.danpin_YhTsBox h4 {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
    line-height: 30px;
    color: #a20000;
    font-weight: bold;
    border-bottom: 1px solid #a20000;
    span {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        text-align: center;
        background: #ffffff;
        position: absolute;
        left: 167px;
        top: -4px;
        padding: 0 8px;
    }
}
.blank20 {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    overflow: hidden;
}
.selColor li .colorHoverok {
    display: block;
    width: 14px;
    height: 13px;
    background: url(//i1.vanclimg.com/item/sprite0725.png) no-repeat scroll;
    background-position: -1151px 0;
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.onlickColor{
    background: #a10000;
    border: 1px solid #a10000;
}
.cuxiaoPrice strong {
    font-family: Tahoma;
    font-size: 24px;
}

#ProductTitleHide{
    width: 100%;
    overflow: hidden;
    height: 45px;
}
.danpinTitleTab {
    border-bottom: 1px solid #e5e6e6;
    min-width: 980px;
}
.hideAddtoCar {
    top: 0;
    left: 0;
    position: fixed !important;
    background-color: #ffffff;
    z-index: 99000000000000;
}
